<div class="edit-container">
<form #articleForm="ngForm" (ngSubmit)="saveArticle()">
    <div class="container grid">
        <div class="back">
            <button class="btn btn-primary btn-sm mr-1" type="button" (click)="back()">&lt; Back to Main Page</button>
        </div>
        <div class="title">
            <h2 *ngIf="this.id !== 'null'">Edit Article</h2>
            <h2 *ngIf="this.id === 'null'">Create Article</h2>
        </div>
            <div class="form-group col-md-6 title-container">
                <!--Title-->
                <h4>Title:* </h4>
                <input type="text" class="form-control" [(ngModel)]="article.title" name="artTitle" #artTitle="ngModel"
                    required>

                <div class="alert alert-danger" *ngIf=" !artTitle.pristine && !artTitle.valid">
                    <div *ngIf="artTitle.errors && artTitle.errors['required']">Please provide a title for the article.
                    </div>
                </div>
            </div>
            

            <div class="form-group col-md-4 thumbnail-container">
                <!--Thumbnail-->
                <h4>Thumbnail: </h4>
                <img class="image" [src]="'data:' + article.image_media_type + ';base64,' + article.image_data ">
                <br>
                <input 
                    type="file" 
                    class="form-control" 
                    (change)="fileChangeEvent($event)"
                    name="artImage" 
                    #artImage="ngModel"
                    [(ngModel)]="article.image_description"
                    >

                <div class="alert alert-danger" *ngIf="this.id === 'null' && !isThumbnailValid() && !artImage.pristine">
                    Please select a thumbnail image.
                  </div>
            </div>
            <div class="form-group col-md-6 category-container">
                <!--Category-->
                <h4>Category:* </h4>
                <!-- <input type="text" class="form-control"  name="artCat" #artCat="ngModel"
                    required [ngClass]="artCat.valid ? 'ng-valid.required' : 'ng-invalid.required'"
                    pattern="(National|International|Sports|Economy)"> -->
                <select 
                    name="category" id="category"
                    [(ngModel)]="article.category"
                    class="form-select"
                    #artCat="ngModel"
                    required>
                >
                    <option value="National">National</option>
                    <option value="International">International</option>
                    <option value="Sports">Sports</option>
                    <option value="Economy">Economy</option>
                </select>
                <div class="alert alert-danger" *ngIf="!artCat.pristine && !artCat.valid">
                    <div *ngIf="artCat.errors">Please provide a category for the
                        article. (National|International|Sports|Economy)
                    </div>
                </div>
            </div>
            <div class="form-group col-md-6 subtitle-container">
                <!--Subtitle-->
                <h4>Subtitle:* </h4>
                <input type="text" required class="form-control" [(ngModel)]="article.subtitle" name="artSubtitle"
                #artSubtitle="ngModel">
                <div class="alert alert-danger" *ngIf="!artSubtitle.pristine &&  !artSubtitle.valid">
                    <div *ngIf="artSubtitle.errors && artSubtitle.errors['required']">Please provide a subtitle for the
                        article.
                    </div>
                </div>
            </div>
            <div class="form-group col-md-6 abstract-container">
                <!--Abstract-->
                <h4>Abstract:* </h4>
                <input type="text" required class="form-control" [(ngModel)]="article.abstract" name="artAbstract"
                    #artAbstract="ngModel" [ngClass]="{'ng-valid': artAbstract.valid, 'ng-invalid': !artAbstract.valid}">

                <div class="alert alert-danger" *ngIf="!artAbstract.pristine &&  !artAbstract.valid">
                    <div *ngIf="artAbstract.errors && artAbstract.errors['required']">Please provide an abstract for the
                        article.
                    </div>
                </div>
            </div>
            <div class="form-group col-md-6 body-container">
                <!--Body-->
                <h4>Body: </h4>
                <textarea class="textarea" [(ngModel)]="article.body" name="artBody"
                    #artBody="ngModel">
                </textarea>
            </div>
            <div class="button-container">
                <i>*=mandatory</i>
                <button class="btn btn-primary btn-sm mr-1" type="button" (click)="clearForm()">Clear</button>
                <button class="btn btn-primary btn-sm mr-1" type="button" (click)="saveArticle()"
                    [disabled]="!articleForm.form.valid || !isThumbnailValid()">Save</button>
            </div>  
            
    
            <h1 class="info-preview"><br>PREVIEW<br><br></h1>
            <h2 class="title-preview">{{ article.title }}</h2>
            <h4 class="subtitle-preview">{{ article.subtitle }}</h4>
            <p class="abstract-preview" [innerHTML]="article.abstract"></p>
            <p class="category-preview"><strong>Category: </strong> {{ article.category }}</p>
        
            <img
                class="image-preview"
                *ngIf="article.image_data && article.image_media_type"
                [src]="'data:' + article.image_media_type + ';base64,' + article.image_data"
            >
        
            <div class="body-preview" [innerHTML]="article.body"></div>
    
    
    
    </div>

</form>
    
</div>
