<div class="grid" *ngIf="article">
    <h2 class="title">{{ article.title }}</h2>
    <h4 class="subtitle">{{ article.subtitle }}</h4>
    <p class="abstract" [innerHTML]="article.abstract"></p>

    <img
        class="image"
        *ngIf="article.image_data && article.image_media_type"
        [src]="'data:' + article.image_media_type + ';base64,' + article.image_data"
    >

    <div class="body" [innerHTML]="article.body"></div>
    <div class="meta">
        <p><strong>Last Modified:</strong> {{ article.update_date | date }}</p>
        <p><strong>Last Modified By:</strong> {{ article.id_user }}</p>
        <p class="category"><strong>Category: </strong> {{ article.category }}</p>

    </div>
    
    <div class="back">
        <a [routerLink]="['/article-list']" class="btn btn-primary">&lt; Back to Main Page</a>
    </div>
    
</div>
